@use '../../../../styles/abstracts' as *;

.card-small {
    @include flex(column, stretch, flex-start, 8px);
    background-color: $color-bg-small-card;

    border-radius: 0 80px 0px 0px;
    padding: 16px;
    min-width: 220px;
    min-height: 200px;

    &:hover {
        background-color: $color-bg-small-card-hover;
    }

    &__category {
        @include font($font-base, 14px, 600, #35273A);
    }

    &__title {
        @include font($font-base, 24px, 700, $color-result-live);
        flex: 1;
    }

    &__badge {
        @include font($font-base, 12px, 500, $color-result-live);
        background-color: $color-bg-puplished-titel;
        padding: 3px 6px;
        border-radius: 0 14px 0 0;
        align-self: flex-start;
    }
}