@use '../../../../styles/abstracts' as *;

.hero-illustration {
  position: relative;
  @include square(420px);

  &__base {
    @include square(420px);
    opacity: 1;
    transition: opacity 500ms ease;
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    @include square(420px);
    opacity: 0;
    transition: opacity 500ms ease;
  }

  @include laptop {
    &:hover {
      .hero-illustration__base {
        opacity: 0;
      }

      .hero-illustration__hover {
        opacity: 1;
      }
    }
  }
}