// abstracts/_colors.scss

// BGs
$color-primary: #35273A;
$color-bg-puplished: #8E70991A;
$color-bg-puplished-titel:#FFB770;
$color-bg-create-new: #8E709929;
$color-bg-create-survey-titel: #FFCFA1; 

 // Text
$color-text-one:#EE9236;
$color-text-two: #35273A;
$color-text-prozent: #D79451;
$color-result-live:#221227;
$color-white: #ffffff;



/*
// Status
$color-success: ;
$color-error: ;
$color-warning: ; */