@use '../../../styles/abstracts' as *;

:host {
  display: block;
  width: 100%;
}

:host.header--dark {
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

:host.header--light {
  background-color: $color-white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1440px;
  padding: 16px 0;

  .container {
    @include flex(row, center, space-between, 0);
  }

  &__logo-img {
    width: 80px;
    height: auto;
  }
}