@use '../../../styles/abstracts' as *;

:host {
  display: block;
  width: 100%;
}

:host.header--dark {
  background-color: $color-primary;
}

:host.header--light {
  background-color: $color-white;
}

.header {
  width: 100%;
  max-width: 1440px;
  padding: 16px 0;

  .container {
    @include flex(row, center, space-between, 0);
  }

  &__logo-img {
    width: 80px;
    height: auto;
  }
}