@use '../../../styles/abstracts' as *;

.btn {
  @include flex(row, center, flex-start, 8px);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px 16px;
  @include font($font-alt, 18px, 700, $color-text-two);

&--primary {
  background-color: $color-text-one;

  .btn__icon {
    width: 0;
    opacity: 0;
   
    transition: width 500ms ease, opacity 500ms ease;
  }

  @include desktop {
    &:hover {
      .btn__icon {
        width: 20px;
        opacity: 1;
      }
    }
  }
}

  // Filter
  &--filter {
    background-color: transparent;
    border: 2px solid $color-text-one;
    @include font($font-alt, 16px, 700, $color-white);

    &.btn--active {
      background-color: $color-text-one;
      color: $color-text-two;
    }
  }

  // Complete
  &--complete {
    background-color: $color-bg-puplished-titel;
    border-radius: 20px;
    padding: 16px 32px;
    @include font($font-alt, 24px, 700, $color-text-two);
  }

  // Cancel
  &--cancel {
    background-color: $color-primary;
    border: 1px solid $color-white;
    @include font($font-alt, 14px, 700, $color-white);
  }

  // Tertiary
  &--tertiary {
    background-color: $color-primary;
    border: 1px solid $color-white;
    @include font($font-alt, 16px, 700, $color-white);
  }

  // Publish
  &--publish {
    background-color: $color-bg-puplished-titel;
    border: 2px dashed $color-text-one;
    @include font($font-alt, 18px, 700, $color-text-two);
  }
}