@use '../../../styles/abstracts' as *;

.btn {
  @include flex(row, center, flex-start, 8px);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px 16px;
  @include font($font-alt, 18px, 700, $color-text-two);

  &--primary {
    background-color: $color-bg-puplished-titel;
  
    .btn__icon {
      width: 0;
      opacity: 0;
      transition: width 500ms ease, opacity 500ms ease;
    }

    @include desktop {
      &:hover {
        .btn__icon {
          width: 20px;
          opacity: 1;
        }
      }
    }
  }

  // Filter
  &--filter {
    background-color: #FEE9D4;
    border: none;
    transition: background-color 200ms ease;
    padding: 2px 10px;
    @include font($font-alt, 14px, 400, $color-primary);

    @include laptop {
      font-size: 16px;
    }

    @include laptop {
      &:hover {
        background-color: #FFB770;
      }
    }

    &.btn--active {
      background-color: #FFB770;
    }
  }

  // Complete
 &--complete {
  background-color: $color-bg-puplished-titel;
  width: 142px;
  height: 48px;
  border-radius: 10px;
  padding: 12px 16px;
  @include font($font-alt, 18px, 700, $font-title);

  .btn__icon {
    width: 24px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

  // Cancel
  &--cancel {
    background-color: $color-primary;
    border: 1px solid $color-white;
    @include font($font-alt, 14px, 700, $color-white);
  }

  // Tertiary
  &--tertiary {
    background-color: $color-primary;
    border: 1px solid $color-white;
    @include font($font-alt, 16px, 700, $color-white);
  }

  // Publish
  &--publish {
    background-color: $color-bg-puplished-titel;
    border: 2px dashed $color-text-one;
    @include font($font-alt, 18px, 700, $color-text-two);
  }
}