@use '../../../styles/abstracts' as *;

:host {
  display: block;
  min-height: 100vh;
  background-color: $color-primary;
  margin-top: -1px;
}

.hero {
  padding: 0 0 32px 0;
  @include flex(column, flex-start, flex-start, 16px);

  @include laptop {
    padding: 32px 0;
  }

  &__content {
    @include flex(column, center, flex-start, 10px);

    @include laptop {
      align-items: flex-start;
    }
  }

  &__illustration {
    width: 100%;

    .hero__img--mobile {
      display: block;
      width: 100%;

      @include laptop {
        display: none;
      }
    }

    .hero__img--desktop {
      display: none;

      @include laptop {
        display: block;
      }
    }
  }

  &__title {
    @include font($font-title, 52px, 400, $color-bg-puplished-titel);
    line-height: 1;

    @include laptop {
      font-size: 85px;
    }
  }

  &__text {
    @include font($font-base, 18px, 600, $color-white);
    line-height: 1.6;

    @include laptop {
      font-size: 24px;
    }
  }

  @include laptop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 64px;

    &__content {
      // Der Content erhält hier den Wert 2
      flex: 2;
      order: 1;
    }

    &__illustration {
      // Die Illustration erhält den Wert 1 (schmaler)
      flex: 1;
      order: 2;
      display: flex;
      justify-content: flex-end;
    }
  }
}

app-ui-button {
  display: flex;
  justify-content: center;

  @include laptop {
    justify-content: flex-start;
  }
}

.surveys {
  padding: 32px 0;

  @include laptop {
    @include flex(column, center, center, 0);

    &__empty {
      color: $color-white;
    }
  }


  &__title {
    @include font($font-title, 50px, 400, $color-bg-puplished-titel);
    text-align: center;

    @include laptop {
      font-size: 72px;
    }
  }

  &__ending-title {
    @include font($font-base, 24px, 500, $color-white);
    margin-bottom: 16px;

    @include laptop {
      font-size: 32px;
    }
  }

 &__ending-list {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 8px;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-bg-puplished-titel;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-text-one;
  }
}

  &__controls {
    @include laptop {
      width: 100%;
      max-width: 992px;
      @include flex(row, center, space-between, 0);
    }
  }

  &__list {
    @include flex(column, stretch, flex-start, 16px);

    @include laptop {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-width: 992px;
    }
  }
}