// home.scss
@use '../../../styles/abstracts' as *;

:host {
  display: block;
  min-height: 100vh;
  background-color: #35273A;
}

// Hero
.hero {
  padding: 32px 0;

  &__content {
    @include flex(column, center, flex-start, 16px);
  }

  &__title {
    @include font($font-title, 56px, 400, $color-text-one);
    line-height: 1;
  }

  &__text {
    @include font($font-base, 18px, 600, $color-white);
    line-height: 1.6;
  }

  

  &__illustration {
   /*  display: none;  */
  }
}

.surveys {
  padding: 32px 0;

  &__title {
    @include font($font-title, 50px, 400, $color-text-one);
    text-align: center;
  }

  &__ending-title {
    @include font($font-base, 24px, 500, $color-white);
    margin-bottom: 16px;
  }

  &__ending-list {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
  }
}