@use '../../../../styles/abstracts' as *;

:host {
  display: block;
}

.question {
  width: 100%;

  &__header {
    @include flex(row, center, space-between, 0);
    margin-bottom: 8px;
    max-width: 430px;
  }

  &__label {
    @include font($font-base, 14px, 600, $color-white);
  }

  &__delete {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;

    img {
      width: 18px;
      height: 18px;
    }
  }

  &__input {
    width: 100%;
    max-width: 430px;
    box-sizing: border-box;
    background-color: $color-white;
    border: none;
    border-radius: 5px 20px 5px 5px;
    padding: 8px;
    @include font($font-base, 14px, 400, $color-text-two);
    outline: none;
    margin-bottom: 4px;
  }

  &__answers-header {
    @include flex(row, center, space-between, 0);
    margin-bottom: 12px;
    max-width: 400px;
  }

  &__answers-label {
    @include font($font-base, 14px, 600, $color-white);
  }

  &__multiple {
    @include flex(row, center, flex-start, 6px);
    cursor: pointer;
  }

  &__multiple-input {
    display: none;
  }

  &__multiple-custom {
    width: 16px;
    height: 16px;
    min-width: 16px;
    border: 1px solid $color-white;
    border-radius: 1.5px;
    background-color: #8E709929;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__multiple-check {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__multiple-label {
    @include font($font-base, 12px, 400, $color-white);
  }

  &__answers {
    @include flex(column, stretch, flex-start, 8px);
    margin-bottom: 12px;
  }

  &__answer {
    @include flex(column, stretch, flex-start, 4px);
    width: 100%;
    margin-bottom: 8px;

    @include laptop {
      @include flex(row, center, flex-start, 0px);
    }
  }

  &__answer-top {
    @include flex(row, center, space-between, 0);
    width: 100%;
    max-width: 320px;

    @include laptop {
      width: auto;
    }
  }

  &__answer-row {
    @include flex(row, center, flex-start, 8px);
    width: 100%;
  }

  &__answer-delete--mobile {
    @include laptop {
      display: none;
    }
  }

  &__answer-delete--laptop {
    display: none;

    @include laptop {
      display: flex;
    }
  }

  &__answer-letter {
    @include font($font-base, 14px, 600, $color-white);
    min-width: 20px;

  }

  &__answer-input {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    background-color: $color-white;
    border: none;
    border-radius: 5px 20px 5px 5px;
    padding: 6px 8px;
    @include font($font-base, 14px, 400, $color-text-two);
    outline: none;

    @include laptop {
      width: 320px;
    }
  }

  &__answer-delete {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
    }
  }

  &__add-answer {
    @include flex(column, flex-start, flex-start, 4px);
    width: fit-content;

    @include laptop {
      margin-left: 20px;
    }
  }

  &__add-answer-hint {
    @include font($font-base, 12px, 400, $color-white);
    opacity: 0.7;
  }

&__error {
  display: block;
  width: 100%;
  min-height: 20px;
  margin: 4px 0 8px 10px;
  @include font($font-base, 8px, 600, $color-text-one);
}
}